/*-------------------
    RESET
--------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
    GENERAL
--------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn {
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

/*-------------------
    HEADER
--------------------*/
.header-top {
    background-color: #3161E0;
    padding: 15px 0;
}

.header-top > .container {
    display: flex;
    align-items: center;
    background-color: #3161E0;
}

.header-top .logo,
.header-top nav,
.header-top .login {
    /*border: 2px dashed black;*/
    padding: 10px;
}

.header-top .logo,
.header-top .login {
    width: 20%;
}

.header-top .login {
    text-align: right;
}

.btn-1 {
    font-size: 14px;
    max-height: 40px;
    padding: 12px 20px;
}

.header-top nav {
    flex-grow: 1;
    text-align: center;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.main-nav ul a {
    text-decoration: none;
    color: white;
}

.header-bottom {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
    padding: 50px 0px;
}

.header-bottom .hero {
    margin: auto;   
    /*background-color: #EE82EE*/;
    min-height: 400px;
    width: 75%;
   /* border: 2px dashed black;*/
    text-align: center;
}

.header-bottom .hero h1 {
    padding-top: 20px;
    font-size: 50px;
    color: white;
}

.header-bottom .hero p {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 20px;
    color: white;
}

.hero-btns {
    font-size: 18px;
    padding: 12px 24px;
}

.btn-black {
    background-color: black;
    color: white;
    margin-left: 20px;
}

/*-------------------
    MAIN
--------------------*/

#section1 {
    display: flex;
    min-height: 500px;
}

#section1 .col-left, #section2 .col-right {
    /*background-color: #1E90FF;*/
    width: 60%;
    padding-top: 120px;
    padding-bottom: 120px;
    /*border: 2px dashed black;*/
}

#section1 .col-right, #section2 .col-left {
    /*background-color: #FDC0CB;*/
    width: 40%;
    padding-top: 120px;
    padding-bottom: 120px;
    /*border: 2px dashed black;*/
}

.text {
    padding: 40px 80px 40px 40px;
}

h2, h3, h4, h5 {
    font-size: 50px;
    padding-bottom: 30px;
}

.details {
    font-size: 20px;
    line-height: 1.5;
}

.d5 {
    padding-left: 40px;
    padding-right: 40px;
}

h6 {
    font-size: 26px;
    padding-bottom: 30px;
}

.stars {
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 30px;
}

.btn-avventura {
    background-color: #7289DA;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
}

#section2 .container {
    display: flex;
    min-height: 500px;
}

.bg-grey {
    background-color: #f6f6f6;
}

#section4 {
    display: flex;
    background-color: #f6f6f6;
}

#section4 .green-box {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 900px;
    min-width: 1200px;
    /*background-color: #228C21;
    border: 2px dashed black;*/
}

/*-------------------
    FOOTER
--------------------*/

footer {
    background-color: #23272A;
}

.footer-top {
    padding-top: 80px;
}

.footer-top > .container {
    display: flex;
    /*min-height: 500px;*/
}

.footer-top .col-pink {
    width: 30%;
    /*background-color: #f08080;
    border: 2px dashed black;*/
}

h7 {
    font-size: 30px;
    color: #7289DA; 
    padding-right: 135px;
}

.footer-details {
    display: flex;
    color: white;
    padding-top: 20px;
}

.footer-details img {
    max-height: 20px;
    width: auto;
}

.footer-icons {
    max-width: 36%;
    justify-content: space-between;
    font-size: 20px;
}

.col-inside ul {
    font-size: 18px;
    line-height: 2.0;
    list-style: none;
    color: white;
    text-decoration: none;
}

.list-title {
    color: #7289DA;
}

.col-inside ul li a {
    text-decoration: none;
    color: white;
}

.footer-top .col-blue {
    width: 70%;
    /*background-color: #20B2AA;*/
    display: flex;
}

.footer-top .col-blue > .col-inside {
    width: 25%;
    /*border: 2px dashed white;*/
}

.footer-bottom {
    padding-top: 30px;
    /*border-top: 2px solid white;
    border-bottom: 2px solid white;*/
}

.footer-bottom > .container {
    display: flex;
    /*background-color: #7FFED4;*/
    padding: 16px 0px;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #4A5882;
}

.footer-logo, .btn-footer {
    /*background-color: #956E70;
    border: 2px dashed black;*/
    padding: 20px;
    margin-bottom: 40px;
}

.btn-footer {
    background-color: #8EA1E1;
    font-size: 16px;
    max-height: 46px;
    color: white;
    padding: 12px 20px;
}

