/*-------------------
    RESET
--------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
    GENERAL
--------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

/*-------------------
    HEADER
--------------------*/
.header-top {
    background-color: #3161E0;
    padding: 15px 0;
}

.header-top > .container {
    display: flex;
    align-items: center;
    background-color: #3161E0;
}

.header-top .logo,
.header-top nav,
.header-top .login {
    /*border: 2px dashed black;*/
    padding: 10px;
}

.header-top .logo,
.header-top .login {
    width: 20%;
}

.header-top .login {
    text-align: right;
}

.button1 {
    border-radius: 20px;
    padding: 12px 20px;
    cursor: pointer;
    border: none;
    /*font-size: 16px;
    max-height: 36px;*/
}

.header-top nav {
    flex-grow: 1;
    text-align: center;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.main-nav ul a {
    text-decoration: none;
    color: white;
}

.header-bottom {
    background-color: #01118B;
    padding: 50px 0px;
}

.header-bottom .hero {
    margin: auto;   
    background-color: #EE82EE;
    min-height: 400px;
    width: 75%;
    border: 2px dashed black;
}

/*-------------------
    MAIN
--------------------*/

#section1 {
    display: flex;
    min-height: 500px;
}

#section1 .col-left, #section2 .col-right {
    /*background-color: #1E90FF;*/
    width: 60%;
    padding-top: 120px;
    padding-bottom: 120px;
    /*border: 2px dashed black;*/
}

#section1 .col-right, #section2 .col-left {
    /*background-color: #FDC0CB;*/
    width: 40%;
    padding-top: 120px;
    padding-bottom: 120px;
    /*border: 2px dashed black;*/
}

.text {
    padding: 40px 80px 40px 40px;
}

h2, h3, h4, h5 {
    font-size: 50px;
    padding-bottom: 30px;
}

.details {
    font-size: 20px;
    line-height: 1.5;
}

.d5 {
    padding-left: 40px;
    padding-right: 40px;
}

.h6 {
    font-size: 24px;
    padding-bottom: 30px;
}

.button4 {
    background-color: #7289DA;
    color: white;
    border-radius: 20px;
    padding: 12px;
    cursor: pointer; 
    border: none;
}

#section2 .container {
    display: flex;
    min-height: 500px;
}

.bg-grey {
    background-color: #D3D3D3;
}

#section4 {
    display: flex;
    background-color: #D3D3D3;
}

#section4 .green-box {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 900px;
    min-width: 1200px;
    /*background-color: #228C21;
    border: 2px dashed black;*/
}

/*-------------------
    FOOTER
--------------------*/

footer {
    background-color: #23272A;
}

.footer-top {
    padding-top: 10px;
    padding-bottom: 30px;
}

.footer-top > .container {
    display: flex;
    min-height: 500px;
}

.footer-top .col-pink {
    width: 30%;
    background-color: #f08080;
    border: 2px dashed black;
}

.footer-top .col-blue {
    width: 70%;
    background-color: #20B2AA;
    display: flex;
}

.footer-top .col-blue > .col-inside {
    width: 25%;
    border: 2px dashed white;
}

.footer-bottom {
    padding-top: 30px;
    /*border-top: 2px solid white;
    border-bottom: 2px solid white;*/
}

.footer-bottom > .container {
    display: flex;
    /*background-color: #7FFED4;*/
    padding: 16px 0px;
    justify-content: space-between;
    border-top: 2px solid #4A5882;
}

.footer-logo, .button5 {
    /*background-color: #956E70;
    border: 2px dashed black;*/
    padding: 12px;
}

.button5 {
    background-color: #8EA1E1;
    font-size: 16px;
    max-height: 46px;
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}

